In [277]:
### TODO Normalize using groupby('file'); Add seconds column; Add column saying who won

In [278]:
import pandas as pd
import numpy as np

In [279]:
copy_kills = pd.read_csv('csgo-matchmaking-damage/esea_master_kills_demos.part1.csv')

In [280]:
copy_meta = pd.read_csv('csgo-matchmaking-damage/esea_meta_demos.part1.csv')

In [281]:
master_kills = copy_kills
master_meta = copy_meta

In [282]:
master_kills = master_kills.drop(master_kills[(master_kills['ct_alive'] < 0) |(master_kills['t_alive'] < 0)].index).reset_index(drop = True)

In [283]:
master_kills.isnull().apply(sum)

file                 0
round                0
tick                 0
seconds            135
att_team             0
vic_team             0
att_side             0
vic_side             0
wp                   0
wp_type              0
ct_alive             0
t_alive              0
is_bomb_planted      0
dtype: int64

In [284]:
master_kills = master_kills.dropna()

In [285]:
master_kills.isnull().apply(sum)

file               0
round              0
tick               0
seconds            0
att_team           0
vic_team           0
att_side           0
vic_side           0
wp                 0
wp_type            0
ct_alive           0
t_alive            0
is_bomb_planted    0
dtype: int64

In [286]:
att = pd.get_dummies(master_kills['att_side'])
att.head()

   CounterTerrorist  Terrorist
0                 1          0
1                 0          1
2                 0          1
3                 1          0
4                 0          1

In [287]:
vic = pd.get_dummies(master_kills['vic_side'])
vic.head()

   CounterTerrorist  Terrorist
0                 0          1
1                 1          0
2                 1          0
3                 0          1
4                 1          0

In [288]:
X = vic.join(att, lsuffix='_vic', rsuffix='_att')

In [289]:
master_kills.head()

,file,round,tick,seconds,att_team,vic_team,att_side,vic_side,wp,wp_type,ct_alive,t_alive,is_bomb_planted
0,esea_match_13770997.dem,1,16058,30.74165,Animal Style,Hentai Hooligans,CounterTerrorist,Terrorist,USP,Pistol,5,4,False
1,esea_match_13770997.dem,1,16210,31.93185,Hentai Hooligans,Animal Style,Terrorist,CounterTerrorist,Glock,Pistol,4,4,False
2,esea_match_13770997.dem,1,16510,34.28094,Hentai Hooligans,Animal Style,Terrorist,CounterTerrorist,Glock,Pistol,3,4,False
3,esea_match_13770997.dem,1,17104,38.93212,Animal Style,Hentai Hooligans,CounterTerrorist,Terrorist,USP,Pistol,3,3,False
4,esea_match_13770997.dem,1,17338,40.76441,Hentai Hooligans,Animal Style,Terrorist,CounterTerrorist,Glock,Pistol,2,3,False

In [290]:
round_num = pd.get_dummies(master_kills['round'])

In [291]:
round_num.columns = ['round_' +str(i) for i in round_num.columns]
round_num.head()

,round_1,round_2,round_3,round_4,round_5,round_6,round_7,round_8,round_9,round_10,...,round_54,round_55,round_56,round_57,round_58,round_59,round_60,round_61,round_62,round_63
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [292]:
X = X.join(round_num)

In [293]:
X = X.rename(columns = {'None':'None_att'})

In [294]:
X.head()

,CounterTerrorist_vic,Terrorist_vic,CounterTerrorist_att,Terrorist_att,round_1,round_2,round_3,round_4,round_5,round_6,...,round_54,round_55,round_56,round_57,round_58,round_59,round_60,round_61,round_62,round_63
0,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [295]:
bomb_planted = pd.get_dummies(master_kills['is_bomb_planted'])
bomb_planted.columns = ['bomb_planted_False', 'bomb_planted_True']

In [296]:
X = X.join(bomb_planted)

In [297]:
master_kills.columns

Index(['file', 'round', 'tick', 'seconds', 'att_team', 'vic_team', 'att_side',
       'vic_side', 'wp', 'wp_type', 'ct_alive', 't_alive', 'is_bomb_planted'],
      dtype='object')

In [298]:
master_kills['wp'].unique()

array(['USP', 'Glock', 'AK47', 'Deagle', 'CZ', 'Negev', 'Mac10', 'M4A4',
       'P250', 'Bizon', 'AWP', 'P90', 'Famas', 'Swag7', 'MP9', 'UMP',
       'M4A1', 'FiveSeven', 'Gallil', 'XM1014', 'HE', 'Scout', 'Nova',
       'MP7', 'Scar20', 'Incendiary', 'AUG', 'P2000', 'Knife', 'SG556',
       'Tec9', 'SawedOff', 'DualBarettas', 'Zeus', 'G3SG1', 'Revolver',
       'World', 'M249', 'Flash', 'Molotov', 'Smoke'], dtype=object)

In [299]:
X = X.join(pd.get_dummies(master_kills['wp']))

In [300]:
X = X.join(pd.get_dummies(master_kills['wp_type']).rename(columns={'Unkown':'Unknown_type'}))

In [301]:
X.head()

,CounterTerrorist_vic,Terrorist_vic,CounterTerrorist_att,Terrorist_att,round_1,round_2,round_3,round_4,round_5,round_6,...,XM1014,Zeus,Equipment,Grenade,Heavy,Pistol,Rifle,SMG,Sniper,Unknown_type
0,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [302]:
cts_alive = pd.get_dummies(master_kills['ct_alive'])
ts_alive = pd.get_dummies(master_kills['t_alive'])

In [303]:
cts_alive.columns = [str(i) + '_ct' for i in cts_alive.columns]
ts_alive.columns = [str(i) + '_t' for i in ts_alive.columns]

In [304]:
X = X.join(cts_alive)
X = X.join(ts_alive)

In [305]:
X = X.reset_index(drop = True)

Now we will join master_meta to master_kills based on 'file' and 'round'

In [306]:
master_join = master_kills.merge(master_meta, on=['file', 'round'], how='outer')

In [307]:
len(master_join)

1569085

In [308]:
len(master_join[master_join['start_seconds'].isnull()]) / len(master_join)

0.017508293049771046

In [309]:
X = X[master_join['winner_team'].isnull() == False].reset_index(drop = True)

C:\Users\larch\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [310]:
master_join = master_join[master_join['tick'].isnull()==False]

In [311]:
len(master_join)

1569065

In [312]:
len(X)

1541606

In [313]:
master_join = master_join.reset_index(drop=True)
X = X.reset_index(drop=True)

In [314]:
len(X)

1541606

In [315]:
X.head()

,CounterTerrorist_vic,Terrorist_vic,CounterTerrorist_att,Terrorist_att,round_1,round_2,round_3,round_4,round_5,round_6,...,2_ct,3_ct,4_ct,5_ct,0_t,1_t,2_t,3_t,4_t,5_t
0,0,1,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,1,0,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,1,0,0,1,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,0,1,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4,1,0,0,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [316]:
X.columns

Index(['CounterTerrorist_vic', 'Terrorist_vic', 'CounterTerrorist_att',
       'Terrorist_att', 'round_1', 'round_2', 'round_3', 'round_4', 'round_5',
       'round_6',
       ...
       '2_ct', '3_ct', '4_ct', '5_ct', '0_t', '1_t', '2_t', '3_t', '4_t',
       '5_t'],
      dtype='object', length=130)

In [317]:
X.head()

,CounterTerrorist_vic,Terrorist_vic,CounterTerrorist_att,Terrorist_att,round_1,round_2,round_3,round_4,round_5,round_6,...,2_ct,3_ct,4_ct,5_ct,0_t,1_t,2_t,3_t,4_t,5_t
0,0,1,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,1,0,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,1,0,0,1,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,0,1,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4,1,0,0,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [318]:
len(X) == len(master_join)

False

In [319]:
master_join = master_join.dropna()

In [320]:
len(X) == len(master_join)

True

In [321]:
y = pd.get_dummies(master_join['winner_side'])

In [322]:
len(X) == len(y)

True

In [323]:
X['seconds_norm'] = master_join.groupby('file')['seconds'].transform(lambda x: (x - x.mean()) / x.std())

In [324]:
maps = pd.get_dummies(master_join['map'])
X = X.join(maps)

In [325]:
round_types = pd.get_dummies(master_join['round_type'])
X = X.join(round_types)

In [326]:
X['ct_eq_val_norm'] = master_join.groupby('file')['ct_eq_val'].transform(lambda x: (x - x.mean()) / x.std())

In [327]:
X['t_eq_val_norm'] = master_join.groupby('file')['t_eq_val'].transform(lambda x: (x - x.mean()) / x.std())

In [328]:
X = X.reset_index(drop = True)

In [329]:
X.to_csv('csgo_data_cleaning/esea_master_kills_meta_cleaned.pt1.csv')

In [330]:
X

,CounterTerrorist_vic,Terrorist_vic,CounterTerrorist_att,Terrorist_att,round_1,round_2,round_3,round_4,round_5,round_6,...,de_nuke,de_overpass,de_train,ECO,FORCE_BUY,NORMAL,PISTOL_ROUND,SEMI_ECO,ct_eq_val_norm,t_eq_val_norm
0,0,1,1,0,1,0,0,0,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.676921,-1.625270
1,1,0,0,1,1,0,0,0,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.676921,-1.625270
2,1,0,0,1,1,0,0,0,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.676921,-1.625270
3,0,1,1,0,1,0,0,0,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.676921,-1.625270
4,1,0,0,1,1,0,0,0,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.676921,-1.625270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1541601,1,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.719829,1.182875
1541602,1,0,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.719829,1.182875
1541603,1,0,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.719829,1.182875
1541604,0,1,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.719829,1.182875
1541605,0,1,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.719829,1.182875