In [1]:
### TODO Normalize using groupby('file'); Add seconds column; Add column saying who won

In [2]:
import pandas as pd
import numpy as np

In [3]:
copy_grenades = pd.read_csv('csgo-matchmaking-damage/esea_master_grenades_demos.part1.csv')

In [4]:
copy_meta = pd.read_csv('csgo-matchmaking-damage/esea_meta_demos.part1.csv')

In [5]:
master_grenades = copy_grenades
master_meta = copy_meta

In [6]:
master_grenades.head()

,file,round,seconds,att_team,vic_team,att_id,vic_id,att_side,vic_side,hp_dmg,...,hitbox,nade,att_rank,vic_rank,att_pos_x,att_pos_y,nade_land_x,nade_land_y,vic_pos_x,vic_pos_y
0,esea_match_13770997.dem,1,153.1602,Animal Style,NaN,76561198165334141,NaN,CounterTerrorist,NaN,0,...,NaN,Smoke,0,NaN,-1618.146,-66.00259,-949.8569,-340.3019,NaN,NaN
1,esea_match_13770997.dem,2,184.7945,Hentai Hooligans,Animal Style,76561198037331400,7.656120e+16,Terrorist,CounterTerrorist,70,...,Generic,HE,0,0.0,-1719.904,-2357.64700,-2774.6650,-1603.9430,-2741.25,-1523.163
2,esea_match_13770997.dem,2,186.8617,Animal Style,NaN,76561198055191021,NaN,CounterTerrorist,NaN,0,...,NaN,HE,0,NaN,-1036.352,492.16760,-466.8676,-356.9641,NaN,NaN
3,esea_match_13770997.dem,2,187.1122,Animal Style,NaN,76561198055054795,NaN,CounterTerrorist,NaN,0,...,NaN,HE,0,NaN,-855.077,438.69090,-459.0147,-543.8581,NaN,NaN
4,esea_match_13770997.dem,2,191.0587,Hentai Hooligans,NaN,76561198037331400,NaN,Terrorist,NaN,0,...,NaN,Molotov,0,NaN,-2617.490,-1832.40700,-2743.5610,-927.2995,NaN,NaN

In [7]:
master_grenades.dtypes

file                object
round                int64
seconds            float64
att_team            object
vic_team            object
att_id               int64
vic_id             float64
att_side            object
vic_side            object
hp_dmg               int64
arm_dmg              int64
is_bomb_planted       bool
bomb_site           object
hitbox              object
nade                object
att_rank             int64
vic_rank           float64
att_pos_x          float64
att_pos_y          float64
nade_land_x        float64
nade_land_y        float64
vic_pos_x          float64
vic_pos_y          float64
dtype: object

In [8]:
master_grenades.isnull().head()

,file,round,seconds,att_team,vic_team,att_id,vic_id,att_side,vic_side,hp_dmg,...,hitbox,nade,att_rank,vic_rank,att_pos_x,att_pos_y,nade_land_x,nade_land_y,vic_pos_x,vic_pos_y
0,False,False,False,False,True,False,True,False,True,False,...,True,False,False,True,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,True,False,True,False,...,True,False,False,True,False,False,False,False,True,True
3,False,False,False,False,True,False,True,False,True,False,...,True,False,False,True,False,False,False,False,True,True
4,False,False,False,False,True,False,True,False,True,False,...,True,False,False,True,False,False,False,False,True,True

In [9]:
master_grenades.isnull().apply(sum)

file                     0
round                    0
seconds                281
att_team                 0
vic_team           2479206
att_id                   0
vic_id             2479206
att_side                 0
vic_side           2479206
hp_dmg                   0
arm_dmg                  0
is_bomb_planted          0
bomb_site          2831312
hitbox             2479206
nade                     0
att_rank                 0
vic_rank           2479206
att_pos_x                0
att_pos_y                0
nade_land_x              0
nade_land_y              0
vic_pos_x          2479206
vic_pos_y          2479206
dtype: int64

In [10]:
master_grenades['bomb_site'] = master_grenades['bomb_site'].fillna(0)

In [11]:
master_grenades = master_grenades.drop(master_grenades[master_grenades['seconds'].isnull()].index).reset_index(drop=True)

In [12]:
master_grenades.isnull().apply(sum)

file                     0
round                    0
seconds                  0
att_team                 0
vic_team           2478925
att_id                   0
vic_id             2478925
att_side                 0
vic_side           2478925
hp_dmg                   0
arm_dmg                  0
is_bomb_planted          0
bomb_site                0
hitbox             2478925
nade                     0
att_rank                 0
vic_rank           2478925
att_pos_x                0
att_pos_y                0
nade_land_x              0
nade_land_y              0
vic_pos_x          2478925
vic_pos_y          2478925
dtype: int64

In [13]:
master_grenades_miss = master_grenades[master_grenades['vic_team'].isnull()].reset_index(drop = True)

In [14]:
master_grenades_miss

,file,round,seconds,att_team,vic_team,att_id,vic_id,att_side,vic_side,hp_dmg,...,hitbox,nade,att_rank,vic_rank,att_pos_x,att_pos_y,nade_land_x,nade_land_y,vic_pos_x,vic_pos_y
0,esea_match_13770997.dem,1,153.1602,Animal Style,NaN,76561198165334141,NaN,CounterTerrorist,NaN,0,...,NaN,Smoke,0,NaN,-1618.14600,-66.00259,-949.8569,-340.3019,NaN,NaN
1,esea_match_13770997.dem,2,186.8617,Animal Style,NaN,76561198055191021,NaN,CounterTerrorist,NaN,0,...,NaN,HE,0,NaN,-1036.35200,492.16760,-466.8676,-356.9641,NaN,NaN
2,esea_match_13770997.dem,2,187.1122,Animal Style,NaN,76561198055054795,NaN,CounterTerrorist,NaN,0,...,NaN,HE,0,NaN,-855.07700,438.69090,-459.0147,-543.8581,NaN,NaN
3,esea_match_13770997.dem,2,191.0587,Hentai Hooligans,NaN,76561198037331400,NaN,Terrorist,NaN,0,...,NaN,Molotov,0,NaN,-2617.49000,-1832.40700,-2743.5610,-927.2995,NaN,NaN
4,esea_match_13770997.dem,2,191.4502,Animal Style,NaN,76561198055054795,NaN,CounterTerrorist,NaN,0,...,NaN,Smoke,0,NaN,-854.77080,427.48650,-490.5282,-652.8984,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478920,esea_match_13793043.dem,18,1367.9620,Team 1,NaN,76561198066654996,NaN,Terrorist,NaN,0,...,NaN,Smoke,0,NaN,680.53720,866.19740,429.2143,1596.2360,NaN,NaN
2478921,esea_match_13793043.dem,18,1369.0260,Team 2,NaN,76561198238642986,NaN,CounterTerrorist,NaN,0,...,NaN,HE,0,NaN,-298.84510,-475.11160,727.4783,-933.3878,NaN,NaN
2478922,esea_match_13793043.dem,18,1369.6680,Team 2,NaN,76561197987661431,NaN,CounterTerrorist,NaN,0,...,NaN,Smoke,0,NaN,-60.26731,484.88570,876.8602,250.6005,NaN,NaN
2478923,esea_match_13793043.dem,18,1370.7000,Team 2,NaN,76561198370264168,NaN,CounterTerrorist,NaN,0,...,NaN,Flash,0,NaN,167.81410,-808.60560,488.7468,-927.0031,NaN,NaN
2478924,esea_match_13793043.dem,18,1377.9440,Team 1,NaN,76561198175208078,NaN,Terrorist,NaN,0,...,NaN,Flash,0,NaN,1421.98800,328.62100,921.4984,-547.8657,NaN,NaN

In [15]:
master_grenades_hit = master_grenades.dropna().reset_index(drop = True)

In [16]:
master_grenades_hit

,file,round,seconds,att_team,vic_team,att_id,vic_id,att_side,vic_side,hp_dmg,...,hitbox,nade,att_rank,vic_rank,att_pos_x,att_pos_y,nade_land_x,nade_land_y,vic_pos_x,vic_pos_y
0,esea_match_13770997.dem,2,184.7945,Hentai Hooligans,Animal Style,76561198037331400,7.656120e+16,Terrorist,CounterTerrorist,70,...,Generic,HE,0,0.0,-1719.9040,-2357.6470,-2774.6650,-1603.9430,-2741.2500,-1523.1630
1,esea_match_13770997.dem,4,363.9355,Animal Style,Hentai Hooligans,76561198048742997,7.656120e+16,CounterTerrorist,Terrorist,1,...,Generic,Incendiary,0,0.0,-2339.5520,-358.0220,-1823.1040,-2271.7590,-1872.8360,-2442.8080
2,esea_match_13770997.dem,4,363.9355,Animal Style,Hentai Hooligans,76561198048742997,7.656120e+16,CounterTerrorist,Terrorist,1,...,Generic,Incendiary,0,0.0,-2339.5520,-358.0220,-1823.1040,-2271.7590,-1713.4190,-2356.0860
3,esea_match_13770997.dem,4,363.9355,Animal Style,Hentai Hooligans,76561198048742997,7.656120e+16,CounterTerrorist,Terrorist,2,...,Generic,Incendiary,0,0.0,-2339.5520,-358.0220,-1823.1040,-2271.7590,-1748.8810,-2336.2910
4,esea_match_13770997.dem,4,363.9355,Animal Style,Hentai Hooligans,76561198048742997,7.656120e+16,CounterTerrorist,Terrorist,2,...,Generic,Incendiary,0,0.0,-2339.5520,-358.0220,-1823.1040,-2271.7590,-1677.4550,-2380.6320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510849,esea_match_13793043.dem,15,1170.3490,Team 1,Team 2,76561198066654996,7.656120e+16,CounterTerrorist,Terrorist,3,...,Generic,Incendiary,0,0.0,745.4926,963.8854,716.7491,733.5328,705.5846,632.0031
510850,esea_match_13793043.dem,15,1170.3490,Team 1,Team 2,76561198066654996,7.656120e+16,CounterTerrorist,Terrorist,4,...,Generic,Incendiary,0,0.0,745.4926,963.8854,716.7491,733.5328,715.4788,632.7330
510851,esea_match_13793043.dem,15,1170.3490,Team 1,Team 2,76561198066654996,7.656120e+16,CounterTerrorist,Terrorist,4,...,Generic,Incendiary,0,0.0,745.4926,963.8854,716.7491,733.5328,706.3710,633.7435
510852,esea_match_13793043.dem,15,1170.3490,Team 1,Team 2,76561198066654996,7.656120e+16,CounterTerrorist,Terrorist,5,...,Generic,Incendiary,0,0.0,745.4926,963.8854,716.7491,733.5328,706.3218,633.7489
510853,esea_match_13793043.dem,17,1315.6140,Team 1,Team 2,76561198082543684,7.656120e+16,Terrorist,CounterTerrorist,1,...,Generic,HE,0,0.0,1260.3900,431.5552,523.2429,150.4221,809.4738,297.3750

In [17]:
master_grenades_hit.isnull().apply(sum)

file               0
round              0
seconds            0
att_team           0
vic_team           0
att_id             0
vic_id             0
att_side           0
vic_side           0
hp_dmg             0
arm_dmg            0
is_bomb_planted    0
bomb_site          0
hitbox             0
nade               0
att_rank           0
vic_rank           0
att_pos_x          0
att_pos_y          0
nade_land_x        0
nade_land_y        0
vic_pos_x          0
vic_pos_y          0
dtype: int64

In [18]:
master_grenades_hit['att_side'].unique()#['att_team'].nunique()

array(['Terrorist', 'CounterTerrorist'], dtype=object)

In [19]:
master_grenades_hit['vic_side'].unique()#['att_team'].nunique()

array(['CounterTerrorist', 'Terrorist'], dtype=object)

In [20]:
att = pd.get_dummies(master_grenades_hit['att_side'])

   CounterTerrorist  Terrorist
0                 0          1
1                 1          0
2                 1          0
3                 1          0
4                 1          0

In [21]:
vic = pd.get_dummies(master_grenades_hit['vic_side'])

   CounterTerrorist  Terrorist
0                 1          0
1                 0          1
2                 0          1
3                 0          1
4                 0          1

In [22]:
X = vic.join(att, lsuffix='_vic', rsuffix='_att')

In [24]:
round_num = pd.get_dummies(master_grenades_hit['round'])

In [25]:
round_num.columns = ['round_' +str(i) for i in round_num.columns]
round_num.head()

,round_1,round_2,round_3,round_4,round_5,round_6,round_7,round_8,round_9,round_10,...,round_54,round_55,round_56,round_57,round_58,round_59,round_60,round_61,round_62,round_63
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
X = X.join(round_num)

In [27]:
X = X.rename(columns = {'None':'None_att'})

In [28]:
X.head()

,CounterTerrorist_vic,Terrorist_vic,CounterTerrorist_att,Terrorist_att,round_1,round_2,round_3,round_4,round_5,round_6,...,round_54,round_55,round_56,round_57,round_58,round_59,round_60,round_61,round_62,round_63
0,1,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
X['hp_dmg_norm'] = master_grenades_hit.groupby('file')['hp_dmg'].transform(lambda x: (x - x.mean()) / x.std())
X['arm_dmg_norm'] = master_grenades_hit.groupby('file')['arm_dmg'].transform(lambda x: (x - x.mean()) / x.std())
X['seconds_norm'] = master_grenades_hit.groupby('file')['seconds'].transform(lambda x: (x - x.mean()) / x.std())

In [30]:
bomb_planted = pd.get_dummies(master_grenades_hit['is_bomb_planted'])
bomb_planted.columns = ['bomb_planted_False', 'bomb_planted_True']

In [31]:
X = X.join(bomb_planted)

In [32]:
bomb_site = pd.get_dummies(master_grenades_hit['bomb_site'])

In [33]:
bomb_site = bomb_site.rename(columns= {0:'Bomb_Not_Planted', 'A':'Planted_at_A', 'B':'Planted_at_B'})
bomb_site.head()

   Bomb_Not_Planted  Planted_at_A  Planted_at_B
0                 1             0             0
1                 1             0             0
2                 1             0             0
3                 1             0             0
4                 1             0             0

In [34]:
X = X.join(bomb_site)

In [42]:
master_grenades_hit.columns

Index(['file', 'round', 'seconds', 'att_team', 'vic_team', 'att_id', 'vic_id',
       'att_side', 'vic_side', 'hp_dmg', 'arm_dmg', 'is_bomb_planted',
       'bomb_site', 'hitbox', 'nade', 'att_rank', 'vic_rank', 'att_pos_x',
       'att_pos_y', 'nade_land_x', 'nade_land_y', 'vic_pos_x', 'vic_pos_y'],
      dtype='object')

In [41]:
X.head()

,CounterTerrorist_vic,Terrorist_vic,CounterTerrorist_att,Terrorist_att,round_1,round_2,round_3,round_4,round_5,round_6,...,round_62,round_63,hp_dmg_norm,arm_dmg_norm,seconds_norm,bomb_planted_False,bomb_planted_True,Bomb_Not_Planted,Planted_at_A,Planted_at_B
0,1,0,0,1,0,1,0,0,0,0,...,0,0,7.472522,-0.155833,-1.571769,1,0,1,0,0
1,0,1,1,0,0,0,0,1,0,0,...,0,0,-0.446925,-0.155833,-1.217890,1,0,1,0,0
2,0,1,1,0,0,0,0,1,0,0,...,0,0,-0.446925,-0.155833,-1.217890,1,0,1,0,0
3,0,1,1,0,0,0,0,1,0,0,...,0,0,-0.332151,-0.155833,-1.217890,1,0,1,0,0
4,0,1,1,0,0,0,0,1,0,0,...,0,0,-0.332151,-0.155833,-1.217890,1,0,1,0,0

In [43]:
# still need: nade for X

In [47]:
nades = pd.get_dummies(master_grenades_hit['nade'])
X = X.join(nades)

Now we will join master_meta to master_grenades_hit based on 'file' and 'round'

In [49]:
master_meta.head()

,file,map,round,start_seconds,end_seconds,winner_team,winner_side,round_type,ct_eq_val,t_eq_val
0,esea_match_13770997.dem,de_overpass,1,94.30782,160.9591,Hentai Hooligans,Terrorist,PISTOL_ROUND,4300,4250
1,esea_match_13770997.dem,de_overpass,2,160.95910,279.3998,Hentai Hooligans,Terrorist,ECO,6300,19400
2,esea_match_13770997.dem,de_overpass,3,279.39980,341.0084,Hentai Hooligans,Terrorist,SEMI_ECO,7650,19250
3,esea_match_13770997.dem,de_overpass,4,341.00840,435.4259,Hentai Hooligans,Terrorist,NORMAL,24900,23400
4,esea_match_13770997.dem,de_overpass,5,435.42590,484.2398,Animal Style,CounterTerrorist,ECO,5400,20550

In [50]:
master_grenades.head()

,file,round,seconds,att_team,vic_team,att_id,vic_id,att_side,vic_side,hp_dmg,...,hitbox,nade,att_rank,vic_rank,att_pos_x,att_pos_y,nade_land_x,nade_land_y,vic_pos_x,vic_pos_y
0,esea_match_13770997.dem,1,153.1602,Animal Style,NaN,76561198165334141,NaN,CounterTerrorist,NaN,0,...,NaN,Smoke,0,NaN,-1618.146,-66.00259,-949.8569,-340.3019,NaN,NaN
1,esea_match_13770997.dem,2,184.7945,Hentai Hooligans,Animal Style,76561198037331400,7.656120e+16,Terrorist,CounterTerrorist,70,...,Generic,HE,0,0.0,-1719.904,-2357.64700,-2774.6650,-1603.9430,-2741.25,-1523.163
2,esea_match_13770997.dem,2,186.8617,Animal Style,NaN,76561198055191021,NaN,CounterTerrorist,NaN,0,...,NaN,HE,0,NaN,-1036.352,492.16760,-466.8676,-356.9641,NaN,NaN
3,esea_match_13770997.dem,2,187.1122,Animal Style,NaN,76561198055054795,NaN,CounterTerrorist,NaN,0,...,NaN,HE,0,NaN,-855.077,438.69090,-459.0147,-543.8581,NaN,NaN
4,esea_match_13770997.dem,2,191.0587,Hentai Hooligans,NaN,76561198037331400,NaN,Terrorist,NaN,0,...,NaN,Molotov,0,NaN,-2617.490,-1832.40700,-2743.5610,-927.2995,NaN,NaN

In [51]:
master_join = master_grenades_hit.merge(master_meta, on=['file', 'round'], how='outer')

In [52]:
len(master_join)

590364

In [53]:
len(master_join[master_join['start_seconds'].isnull()]) / len(master_join)

3.3877404448780755e-05

In [54]:
master_join = master_join[master_join['start_seconds'].isnull()==False]

In [55]:
len(master_join)

590344

In [56]:
len(X)

510854

In [57]:
len(master_join)

590344

In [58]:
master_join = master_join.reset_index(drop=True)
X = X.reset_index(drop=True)

In [59]:
X = X[master_join['winner_team'].isnull() == False]

C:\Users\larch\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [60]:
len(X)

510845

In [61]:
X.head()

,CounterTerrorist_vic,Terrorist_vic,CounterTerrorist_att,Terrorist_att,round_1,round_2,round_3,round_4,round_5,round_6,...,bomb_planted_True,Bomb_Not_Planted,Planted_at_A,Planted_at_B,Decoy,Flash,HE,Incendiary,Molotov,Smoke
0,1,0,0,1,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,0,1,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
2,0,1,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
3,0,1,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
4,0,1,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0

In [62]:
X.columns

Index(['CounterTerrorist_vic', 'Terrorist_vic', 'CounterTerrorist_att',
       'Terrorist_att', 'round_1', 'round_2', 'round_3', 'round_4', 'round_5',
       'round_6', 'round_7', 'round_8', 'round_9', 'round_10', 'round_11',
       'round_12', 'round_13', 'round_14', 'round_15', 'round_16', 'round_17',
       'round_18', 'round_19', 'round_20', 'round_21', 'round_22', 'round_23',
       'round_24', 'round_25', 'round_26', 'round_27', 'round_28', 'round_29',
       'round_30', 'round_31', 'round_32', 'round_33', 'round_34', 'round_35',
       'round_36', 'round_37', 'round_38', 'round_39', 'round_40', 'round_41',
       'round_42', 'round_43', 'round_44', 'round_45', 'round_46', 'round_47',
       'round_48', 'round_49', 'round_50', 'round_51', 'round_52', 'round_53',
       'round_54', 'round_55', 'round_56', 'round_57', 'round_58', 'round_59',
       'round_60', 'round_61', 'round_62', 'round_63', 'hp_dmg_norm',
       'arm_dmg_norm', 'seconds_norm', 'bomb_planted_False',
       'bomb_planted_True', 'Bomb_Not_Planted', 'Planted_at_A', 'Planted_at_B',
       'Decoy', 'Flash', 'HE', 'Incendiary', 'Molotov', 'Smoke'],
      dtype='object')

In [63]:
X.head()

,CounterTerrorist_vic,Terrorist_vic,CounterTerrorist_att,Terrorist_att,round_1,round_2,round_3,round_4,round_5,round_6,...,bomb_planted_True,Bomb_Not_Planted,Planted_at_A,Planted_at_B,Decoy,Flash,HE,Incendiary,Molotov,Smoke
0,1,0,0,1,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,0,1,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
2,0,1,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
3,0,1,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
4,0,1,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0

In [64]:
len(X) == len(master_join)

False

In [65]:
master_join = master_join.dropna()

In [66]:
len(X) == len(master_join)

True

In [67]:
y = pd.get_dummies(master_join['winner_side'])

In [68]:
len(X) == len(y)

True

In [69]:
maps = pd.get_dummies(master_join['map'])
X = X.join(maps)

In [70]:
round_types = pd.get_dummies(master_join['round_type'])
X = X.join(round_types)

In [71]:
X['ct_eq_val_norm'] = master_join.groupby('file')['ct_eq_val'].transform(lambda x: (x - x.mean()) / x.std())

In [72]:
X['t_eq_val_norm'] = master_join.groupby('file')['t_eq_val'].transform(lambda x: (x - x.mean()) / x.std())

In [74]:
X.to_csv('csgo_data_cleaning/esea_master_grenades_hit_meta_cleaned.pt1.csv')